= javascript_pack_tag 'board_vue'

= render partial: 'task_group'
= render partial: 'task'

#board-vue
  %nav.navbar(role="navigation" aria-label="main navigation")
    .navbar-brand
      {{board.title}}
  .board-container
    %task-group.task-group-container(:task_group="task_group" v-for="task_group in board.task_groups" :key="task_group.id")

    .box.task-group-container.has-background-secondary
      %a(v-on:click="openNewTaskGroupForm()" v-show="!showNewTaskGroupForm")
        = '+ ' + I18n.t('task_groups.add')

      .box(v-show="showNewTaskGroupForm")
        .field
          .control
            %input.input.is-primary(type="text" v-model="newTaskGroupTitle")
        %a.button.is-primary(v-on:click="createTaskGroup()")
          Add List
        %a.button(v-on:click="closeNewTaskGroupForm()")
          Cancel