html, body, #trello-clone-vue, #trello-clone-vue > div {
  height: 100%;
}

.board-container {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0.5rem 0.25rem 0 0.25rem;
  height: 92%;

  .task-group-container {
    width: 300px;
    margin: 0 0.25rem;
    display: inline-block;
    vertical-align:top;

    .dropdown-trigger {
      .button.is-text {
        text-decoration: none;
      }
    }

    .task-group-title, .task-title {
      width: 225px;
      white-space: normal;
      padding: 0 0.25rem 0 0.25rem;
      display: block !important;
      a {
        display: block;
      }
    }
    a.new-task {
      display: block;
    }
  }
}
